.header__button {
    
    position: absolute;
    left: 1421px;
    top: 24px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    padding: 15px 30px;

    background: #3A68B8;
    border-radius: 5px;

    color: #FFFFFF;

 };
 
