.header {
    position: absolute;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;

    background-color: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #27118d 260.24%);;
}